
@if(isoffline()){
<app-offline-ui [isOff]="isoffline()"></app-offline-ui>
}@else{
<div class="max-w-7xl mx-auto parent text-[#7DB1C7] grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3.5 px-2 my-5">
    @for (category of myCategories; track category._id) {
         <div class="p-2 group">
            <div class= "rounded-xl overflow-hidden shadow-md hover:shadow-xl cursor-pointer transform group-hover:scale-105 transition-[shadow_transform] duration-300 bg-white">
              <img
                class=" w-full h-[300px] object-cover"
                [src]="category.image"
                [alt]="category.name"
                [title]="category.name"
                [routerLink]="['/category-details',category._id,category.name]"
              />
              <div class="p-4  text-center">
                <h4 class="text-lg font-medium   text-[#7DB1C7]">
                  {{category.name}}
                </h4>
              </div>
            </div>
          </div>
    }
</div>
}
