@if(isoffline()){
<app-offline-ui [isOff]="isoffline()"></app-offline-ui>
}@else {
      <section class="py-8">
      <div class="container mx-auto px-4">
        <!-- search -->
        <input 
          type="text" 
          [(ngModel)]="searchItem"  
          [placeholder]="'home.searchPlaceholder' | translate"
          class="w-[70%] mx-auto placeholder:text-sm placeholder:font-medium text-[#235a6f] px-4 py-2 border block border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-hoverColor"
        />

        <!-- sorting -->
         <app-sort [resultNum]="result" (sortChanged)="handleSort($event)"></app-sort>
        <!-- display data -->
        <div class="parent text-[#7c4947]  grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4  gap-3.5 px-10 my-5">
            @for (product of myProducts |search : searchItem; track product._id) {
                  <div class="card group hover:scale-[102%] transition duration-200 px-2 py-3 border border-[#7c4947] bg-[#f3eaea]  rounded-xl overflow-hidden shadow-sm relative p-1 cursor-pointer">
                      <div [routerLink]="['/details', product._id]">
                        <div class="card-img relative">
                          <img class="w-full  rounded-xl h-[375px] object-cover" [src]="product.imageCover" alt="">
                          @if(product.discountPercentage){
                                <span  class="absolute bottom-0 left-0 bg-[#935452] text-white text-sm font-bold px-2 py-1 rounded shadow-md">
                                    -{{ product.discountPercentage }}%
                                  </span>
                              }
                        </div>
                        <div class="card-body px-2 py-4">
                          <h4 class="text-[13px]">{{ product.category.name }}</h4>

                          <div class="flex justify-between items-center">
                            <h3 class="text-[17px]">
                              {{ product.title.split(' ').slice(0, 3).join(' ') }}
                            </h3>

                            <!-- Wishlist icons -->
                            <div class="text-lg hover:scale-110" (click)="toggleWishlist(product._id); $event.stopPropagation()" [class.hidden]="Inwishlist(product._id)">
                              <i class="fa-regular fa-heart"></i>
                            </div>
                            <div class="text-lg hover:scale-110 text-[#935452]" (click)="toggleWishlist(product._id); $event.stopPropagation()" [class.hidden]="!Inwishlist(product._id)">
                              <i class="fa-solid fa-heart"></i>
                            </div>
                          </div>

                        
                          <div class="flex flex-col items-start mt-2">
                            <div class="flex items-center gap-2">

                                 <span class="font-semibold">
                                {{ product.price }} {{ 'home.priceUnit' | translate }}
                              </span>

                              @if(product.originalPrice){
                                <span  class="text-gray-400 line-through text-sm">
                                {{ product.originalPrice }} {{ 'home.priceUnit' | translate }}
                              </span>
                              }
                              
                           
                            </div>
                            
                            
                          </div>

                          
                          <div class="flex justify-between items-center mt-3">
                            <div class="flex items-center gap-1">
                              <i class="fas fa-star text-yellow-300"></i>
                              <span>{{ product.ratingsAverage }}</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      
                      <a 
                        (click)="addToCart(product._id)" 
                        class="w-[90%] capitalize block mx-auto cursor-pointer text-center px-3 py-2 text-sm text-mainBg bg-[#75413f] rounded-lg hover:bg-[#75413f]/90 transition duration-200 hover:scale-[102%]"
                      >
                        {{ 'home.addToCart' | translate }}
                      </a>
                    </div>
            }
          </div>

      

      </div>
    </section>



        <!-- pagination -->
        @if (metadata?.numberOfPages > 1) {
          <div class="flex justify-center mb-6 gap-2 flex-wrap">
            @for (page of pages; track $index) {
              <button 
                (click)="callAPI(limit, page, undefined, sortOption)"
                [class.bg-hoverColor]="page === currentPage"
                class="cursor-pointer w-9 h-9 rounded-full border border-gray-300 flex items-center justify-center text-sm text-[#235a6f] hover:bg-hoverColor/80 transition"
              >
                {{ page }}
              </button>
            }
            <span class="text-sm text-gray-500 mt-1">{{ 'home.paginationDots' | translate }}</span>
          </div>
        }
}