<section class="py-8">
  <div class="container mx-auto px-4">
    <!-- search -->
    <input 
      type="text" 
      [(ngModel)]="searchItem"  
      [placeholder]="'home.searchPlaceholder' | translate"
      class="w-[70%] mx-auto placeholder:text-sm placeholder:font-medium text-[#235a6f] px-4 py-2 border block border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-hoverColor"
    />

    <!-- sorting -->
    <div class="flex flex-col sm:flex-row items-center justify-between  px-17 py-4 ">
    <div class="text-[#235a6f] text-base  font-medium mb-3 sm:mb-0">
      Result: <span class=" text-[#34565e]">({{result}})</span> 
    </div>

  <div class="relative w-[220px]">
  <button
    type="button"
    class="w-full bg-[#f9fbfc] text-[#235a6f] px-4 py-2 rounded-xl shadow-sm text-sm font-medium flex items-center justify-between focus:outline-none cursor-pointer transition"
    (click)="isOpen = !isOpen"
  >
    Sort by : {{sortOption}}
    <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" stroke-width="2"
        viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
    </svg>
  </button>

  <!-- القائمة -->
  @if(isOpen){
    <div
    class="absolute z-10 mt-2 w-full bg-white border border-gray-200 rounded-xl shadow-lg text-sm overflow-hidden"
  >
    <ul class="text-[#235a6f]">
      <li class="px-4 py-2 hover:bg-[#e6f0f7] cursor-pointer" (click)="selectSort('Default')">Default</li>
      <li class="px-4 py-2 hover:bg-[#e6f0f7] cursor-pointer" (click)="selectSort('Price Low to High','price')">Price: Low to High</li>
      <li class="px-4 py-2 hover:bg-[#e6f0f7] cursor-pointer" (click)="selectSort('Price High to Low','-price')" >Price: High to Low</li>
      
    </ul>
  </div>
  }
</div>

    </div>
    <!-- display data -->
    <div class="parent text-[#7DB1C7] grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4  gap-3.5 px-10 my-5">
      @for (product of myProducts | search : searchItem; track product._id) {
        <div class="card group  hover:scale-[102%]  transition-all duration-300  ease-in-out translate-y-5 animate-fadeIn bg-[#fffffe] rounded-xl overflow-hidden shadow-sm relative px-2  py-3 cursor-pointer">
          <div [routerLink]="['/details', product._id]">
            <div class="card-img">
              <img class="w-full rounded-xl h-[375px] object-cover "[src]="product.imageCover" alt="">
            </div>
            <div class="card-body px-2 py-4">
              <h4 class="text-[13px]">{{ product.category.name }}</h4>
              <div class="flex justify-between items-center">
                <h3 class="text-[17px]">{{ product.title.split(' ').slice(0,3).join(' ') }}</h3>
                
                <div  
                  class="text-lg hover:scale-110"
                  (click)="toggleWishlist(product._id);$event.stopPropagation()"
                  [class.hidden]="Inwishlist(product._id)"
                  ><i class="fa-regular fa-heart"></i></div>


                  <div class="text-lg hover:scale-110 text-[#d26665]"
                  (click)="toggleWishlist(product._id);$event.stopPropagation()"
                  [class.hidden]="!Inwishlist(product._id)"
                  ><i class="fa-solid fa-heart"></i></div>

              </div>
              <div class="flex justify-between items-center">
                <span>{{ product.price }} {{ 'home.priceUnit' | translate }}</span>
                <div class="flex items-center gap-1">
                  <i class="fas fa-star text-yellow-300"></i>
                  <span>{{ product.ratingsAverage }}</span>
                </div>
              </div>
            </div>
          </div>

          <a 
            (click)="addToCart(product._id)" 
            class="w-[90%] capitalize block mx-auto cursor-pointer text-center px-3 py-2 text-sm text-[#235a6f] bg-hoverColor rounded-lg hover:bg-hoverColor/90"
          >
          <i class="fas fa-cart-plus"></i>
            {{ 'home.addToCart' | translate }}
          </a>
             
        </div>
      }
    </div>

   

  </div>
</section>

    <!-- pagination -->
    @if (metadata?.numberOfPages > 1) {
      <div class="flex justify-center mb-6 gap-2 flex-wrap">
        @for (page of pages; track $index) {
          <button 
            (click)="callAPI(12,page)"
            [class.bg-hoverColor]="page === currentPage"
            class="cursor-pointer w-9 h-9 rounded-full border border-gray-300 flex items-center justify-center text-sm text-[#235a6f] hover:bg-hoverColor/80 transition"
          >
            {{ page }}
          </button>
        }
        <span class="text-sm text-gray-500 mt-1">{{ 'home.paginationDots' | translate }}</span>
      </div>
    }