

<nav class=" relative rounded-[13px] bg-gradient-to-r from-[#F8EAE9] via-[#e5dff0] to-[#B4D6F1]  shadow-xl border-b-[#B4D6F1]">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-3">
    <a routerLink="/home"   class="flex items-center  rtl:space-x-reverse">
        <img  src="/images/icon.png" class="h-[80px]" alt=" Logo" />
        <span class=" logo self-center text-[40px] font-semibold whitespace-nowrap">Haulify</span>
       
    </a>
     <div class="absolute top-[66px] left-[28px]  text-[#7DB1C7] text-[20px] ">For the love of the haul</div>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>

    <div class="hidden text-[17px]  text-mainColor w-full md:flex justify-between grow md:w-auto" id="navbar-default">
      <ul class="mx-20  self-center  capitalize  flex flex-col p-4 md:p-1 mt-4 border rounded-lg  md:flex-row md:space-x-7 rtl:space-x-reverse md:mt-0 md:border-0 ">
       @if(islogged()){
         <li>
          <a  class="block py-2 px-3    md:p-2 "   routerLink="/home" routerLinkActive="bg-hoverColor  rounded-[12px]" aria-current="page">Home</a>
        </li>
        <li>
          <a  class="block py-2 px-3    md:p-2  "  routerLinkActive="bg-hoverColor  rounded-[12px]" routerLink="/products" aria-current="page">products</a>
        </li>
        <li>
          <a  class="block py-2 px-3    md:p-2  "  routerLinkActive="bg-hoverColor  rounded-[12px]" routerLink="/categories" aria-current="page">categories</a>
        </li>
        <li>
          <a  class="block py-2 px-3    md:p-2  "  routerLinkActive="bg-hoverColor  rounded-[12px]" routerLink="/brands" aria-current="page">brands</a>
        </li>
       }
       
      </ul>

      <ul class="capitalize self-center  flex flex-col p-4  md:p-2  mt-4 border rounded-lg  md:flex-row  rtl:space-x-reverse md:mt-0 md:border-0 ">
        <li>
          <a href="#" class="block py-2 px-3   md:p-2  " aria-current="page">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3   md:p-2  " aria-current="page">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3   md:p-2  " aria-current="page">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3   md:p-2  " aria-current="page">
            <i class="fa-brands fa-tiktok"></i>
          </a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3   md:p-2  " aria-current="page">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3   md:p-2  " aria-current="page">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>
        @if(islogged()){
        <li>
          <a (click)="signout()" class="block py-2 px-3   md:p-2  cursor-pointer transition  hover:bg-[#a8c8e3] rounded-[12px]" aria-current="page">signOut</a>
        </li>
       
        }
       @else {
         <li>
          <a  class="block py-2 px-3   md:p-2"routerLinkActive="bg-[#a8c8e3]  rounded-[12px]" routerLink="/login"  aria-current="page">login</a>
        </li>
        <li>
          <a  class="block py-2 px-3   md:p-2  "routerLinkActive="bg-[#a8c8e3]  rounded-[12px]" routerLink="/register" aria-current="page">register</a>
        </li>
       }
       
      </ul>

    </div>

  </div>
</nav>
