<nav class="relative rounded-[13px] bg-gradient-to-r from-[#F8EAE9] via-[#e5dff0] to-[#B4D6F1] shadow-xl border-b-[#B4D6F1]">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-3">
    <div class="flex flex-col items-start">
        <a routerLink="/home" class= " w-[220px] relative flex items-center rtl:space-x-reverse">
          <img src="/images/icon.png" class="h-[80px]" alt="Logo" />
          <span class="logo self-center text-[40px] font-semibold whitespace-nowrap">Haulify</span>
          <div class="text-[#7DB1C7] text-[20px] absolute top-[58px] start-[18px] ">
          {{ 'navbar.slogan' | translate }}
        </div>
        </a>
 
    </div>


    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none">
      <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>

    <div class="hidden text-[18px] text-mainColor w-full md:flex justify-between items-center grow md:w-auto" id="navbar-default">
      <ul class=" capitalize flex flex-col  mt-4 border rounded-lg md:flex-row md:space-x-7 rtl:space-x-reverse md:mt-0 md:border-0">
        @if(islogged()){
          <li><a class="block py-2 px-3 md:p-2" routerLink="/home" routerLinkActive="bg-hoverColor rounded-[12px]">{{ 'navbar.home' | translate }}</a></li>
          <li><a class="block py-2 px-3 md:p-2" routerLink="/products" routerLinkActive="bg-hoverColor rounded-[12px]">{{ 'navbar.products' | translate }}</a></li>
          <li><a class="block py-2 px-3 md:p-2" routerLink="/categories" routerLinkActive="bg-hoverColor rounded-[12px]">{{ 'navbar.categories' | translate }}</a></li>
          <li><a class="block py-2 px-3 md:p-2" routerLink="/brands" routerLinkActive="bg-hoverColor rounded-[12px]">{{ 'navbar.brands' | translate }}</a></li>
        }
      </ul>

      <ul class=" capitalize items-center  flex flex-col  mt-4 border rounded-lg md:flex-row rtl:space-x-reverse md:mt-0 md:border-0">
          <li [class.hidden]=" tranlation('en')">
                <button (click)="changelang('en')" class="cursor-pointer flex relative top-[3px] items-center gap-1 py-2 px-3 text-[22px]">
                  <i class="fa-solid fa-globe"></i>
                  EN
                </button>
            </li>

          <li [class.hidden]=" tranlation('ar')">
                <button (click)="changelang('ar')" class="cursor-pointer flex relative top-[3px] items-center gap-1 py-2 px-3 text-[22px]">
                  <i class="fa-solid fa-globe"></i>
                  AR
                </button>
          </li>
        @if (islogged()) {
          <li>
          <a routerLink="/wishlist" routerLinkActive="bg-[#a8c8e3] rounded-[12px]" class="block cursor-pointer py-2 relative top-[3px] px-3 text-[25px] hover:scale-110 transition-[scale]">
            <i class="fa-solid fa-heart"></i>
            <span class="absolute border top-[9px] right-[3px] bg-hoverColor  text-mainColor text-[15px] min-w-[20px] h-[20px]
                          rounded-full flex items-center justify-center font-semibold shadow-md">
                {{wishListItemsNumber()}}
              </span>
          </a>
          
        </li>
        <li>
          <a routerLink="/cart" routerLinkActive="bg-[#a8c8e3] rounded-[12px]" class=" relative block cursor-pointer py-2 px-3 text-[25px] hover:scale-110 transition-[scale]">
            <i class="fa-solid fa-bag-shopping"></i>
            
              <span class="absolute border top-[9px] right-[3px] bg-hoverColor  text-mainColor text-[15px] min-w-[20px] h-[20px]
                          rounded-full flex items-center justify-center font-semibold shadow-md">
                {{cartItemsNumber()}}
              </span>
          </a>
        </li>
        }

        @if(islogged()){
          <div class="relative dropdown-container">
            <button id="dropdownUserButton" data-dropdown-toggle="dropdownUser" class="text-mainColor  text-[25px] hover:scale-110 transition  cursor-pointer text-xl p-2 rounded-lg" type="button">
              <i class="fa-solid fa-user"></i>
            </button>

            <div id="dropdownUser" class="z-10 hidden bg-mainBg divide-y divide-gray-100 rounded-lg shadow w-44">
              <ul class="py-2 text-sm text-mainColor" aria-labelledby="dropdownUserButton">
                <li>
                  <a routerLink="/allorders" (click)="closeDropdown()"  class="block px-4 py-2 hover:bg-mainColor/20 hover:scale-105 transition">
                    <i class="fa-solid fa-clock-rotate-left mr-2"></i> Orders
                  </a>
                </li>
                <li>
                  <a (click)="signout();closeDropdown()" class="block px-4 py-2 hover:bg-mainColor/20 hover:scale-105 transition">
                    <i class="fa-solid fa-arrow-right-from-bracket mr-2"></i> Logout
                  </a>
                </li>
              </ul>
            </div>

          </div>
        }
        @else {
          <li><a routerLink="/login" routerLinkActive="bg-[#a8c8e3] rounded-[12px]" class="block py-2 px-3">{{ 'navbar.login' | translate }}</a></li>
          <li><a routerLink="/register" routerLinkActive="bg-[#a8c8e3] rounded-[12px]" class="block py-2 px-3">{{ 'navbar.register' | translate }}</a></li>
        }
      </ul>
    </div>
  </div>
</nav>
