

<footer class=" rounded-[13px]   bg-gradient-to-r from-[#F8EAE9] via-[#e5dff0] to-[#B4D6F1] border-b-2 shadow-lg border-y-[#B4D6F1] py-5">
    <div class="w-full  max-w-screen-2xl p-4 md:flex md:items-center md:justify-between">
      <div class="flex gap-1">
      <span class="capitalize text-[17px] text-mainColor sm:text-center">get haulify app</span>
      <img class="cursor-pointer w-[88px]" src="images/get-apple-store.png" alt="">
      <img class="cursor-pointer w-[90px]" src="images/get-google-play.png" alt="">
      </div>

    <ul class="flex flex-wrap items-center mt-3 text-[17px] text-mainColor sm:mt-0">
        <span class="capitalize" >payment partner</span>
        <li>
           <img class="w-[43px] mx-4 " src="images/amazon-pay.png" alt="">
        </li>
        <li>
            <img class="w-[43px] mx-4" src="images/American-Express-Color.png" alt="">
        </li>
        <li>
            <img class="w-[43px] mx-4" src="images/mastercard.webp" alt="">
        </li>
        <li>
             <img class="w-[43px] mx-4" src="images/paypal.png" alt="">
        </li>
    </ul>
    </div>
</footer>

